.flip {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary-color);
    animation-name: flip;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes flip {
    0%,
    100% {

    } 50% {
        background-color: var(--secondary-color);
        transform: rotate3d(-1, 1, 0, 180deg);
    }
}