@font-face {
    font-family: Bricolage Grotesque;
    src: url(./fonts/BricolageGrotesque-VariableFont_opsz\wdth\wght.ttf);
  }

/* General ----------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: #651FFF;
    --secondary-color: #00BCD4;
}

body {
    padding: 0 1.5rem 1.5rem 1.5rem;
    font-size: 1.7rem;
    font-family: 'BricolageGrotesque', Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
}

a,
a:link {
    color: #000;
    text-decoration: none;
}

/* Navigation --------------------- */

header {
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 1;
    padding: 1.5rem 0;
}

.header-about {
    background-color: #fff;
    box-shadow: 0px 10px 15px #fff;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Main */

main {
    margin-top: 10rem;
}